.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #313131;
  background-image: url(../images/image2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.colorpicker{

  justify-content: center;
  display: flex;
  /* padding-left: 50px; */
  /* border: red 2px; */
}

.label-list {
  width: 30%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-right: 2%;
}

.drop_box_1 {
  background-color: rgba(31, 31, 31, 0.3);
  color: #fff;
  max-width: 30%;
  height: fit-content;
  text-align: center;
  border-radius: 10px;
  width: 40%;
  margin-right: 10%;
}

.drop_box_box {
  border: 2px solid rgba(43, 43, 43, 0.4);
  border-radius: 10px;
}

.drop_box_head {
  border-bottom: 2px dotted rgba(43, 43, 43, 0.4);
}

.drop_box_head p {
  font-size: 20px;
}

.drop_box_body {
  text-align: center;
  padding: 20px;
}

.input-label,
.file-label {
  color: white;
  font-size: 18px;
}

.input-field,
.file-input {
  background-color: transparent;
  border: 1px solid #121010;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  width: 80%;
  font-size: 16px;
}

.file-info {
  color: white;
  margin-top: 10px;
}

.submit-button {
  background-color: #3a3939;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
  font-size: 20px;
  margin-top: 20px;
  width: 100px;
  padding: 12px 24px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #5c5b5b;
}
.label-list {
  width: 30%;
  padding: 20px;
  background-color: rgba(211, 211, 211, 0.6);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 2%;
  text-align: center;
}

.label-table {
  width: 100%;
  border-collapse: collapse;
  color: #333;
}

.label-table th,
.label-table td {
  padding: 8px;
  text-align: left;
}

.label-table th {
  background-color: rgba(43, 43, 43, 0.4);
  color: #fff;
}

.label-table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.color-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.back-button {
  position: absolute;
  display: flex;
  top: 10px;
  left: 10px;
  width: 140px;
  background-color: transparent;
  background-color: #3a3939;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 26px;
}

.back-button:hover {
  text-decoration: underline;
}